---
title: About Us
component: ContentPage
---
img(style='width: 80%; border-radius: 25px', src='http://www.quickstartprototypes.com/images/Scott.png', alt='Scott Nakada')
h1 Work Experience
  h2 Quickstart Prototypes
  ul
    li
      | Develop and implement rapid prototyping techniques for software and electronics to rapidly develop minimum viable products (MVP) for startups
    li
      | Developed web sites (using Javascript, Bootstrap, Angular, NodeJS, Yeoman, Firebase, MongoDB), with companion cross platform (iOS, Android) mobile apps (using JQuery Mobile, Phonegap and Ionic)
    li
      | Developed web-page controlled electronics, using Python, on a Linux (Raspberry Pi $40 computer), connected to an Arduino ($30 computer)
  h2 Knuckle Dragger Design 2012-2013
  ul
    li
      | Developed electronics, using Altium Designer, for a Digital Video Recorder, powering up to 4 Power over Ethernet (PoE) cameras and a PoE monitor
    li
      | Supervised 2 firmware engineers and developed video surveillance firmware in C on a PIC processor, and developed a test tool in Visual Studio C#
    li
      | Implemented a common revision control system (SVN) for Altium schematics, MPLAB C firmware, and Visual Studio C# software
  h2 Illumina 2008-2011
  ul
    li
      | Developed electronics and firmware in products which
      | sequence DNA
    li
      | Lead electrical engineer for a multi-board system which
      | sold for $250K, and generated $25M in the first year
      | of sales
    li
      | Reduced radiated emissions by 25dB, allowing world-wide
      | shipments
    li
      | Developed firmware inside Xilinx FPGA MicroBlaze, which
      | added functionality, and corrected problems in existing
      | systems
  h2 Hewlett-Packard 1994-2008
  ul
    li
      | Designed ink-jet printer electronics from concept to
      | manufacturing overseas
    li
      | Reduced the cost of electronics by 34.7%, a month ahead
      | of schedule
    li
      | LCD display technology expert supporting multiple
      | programs
    li
      | Developed Inter-Processor Communication firmware for a dual processor printer
    li
      | Provided firmware support for transition of three products to manufacturing
    li
      | Managed firmware builds, and maintained firmware release web-page
    li
      | Developed motion control algorithms for a printer
h1 Education
  h2 Cornell University BSEE
