---
title: Home
component: ContentPage
---
mixin breadcrumb
  ol
    li <a href="/">Home</a>
p
  h3
    | Get a quick start on your electronic and software prototypes.  If you need to develop a minimum
    | viable product (MVP), to show to investors, or if you need to develop a proof of concept prototype
    | to help win a contract, let us quickly develop your prototype for you.  We use some of the latest
    | rapid prototyping tools, and can handle a broad range of product categories.  Currently we have demo
    | products which show:
  p
  h3
    ol
      li
        a(href='http://www.quickstartprototypes.com/webcontrol.html')
          | Control your electronics over the web, using a common interface on PC, tablet or phone
      ul
        li
          a(href='http://www.quickstartprototypes.com/webcontrol.html#RapidVHDL') Using Rapid Xilinx VHDL Prototyping
        li
          a(href='http://www.quickstartprototypes.com/webcontrol.html#RapidSW') Using Rapid Software Prototyping
        li
          a(href='http://www.quickstartprototypes.com/webcontrol.html#RapidWeb') Using Rapid Web Development Prototyping
      li
        a(href='http://www.quickstartprototypes.com/androidapp.html')
          | Android apps, controlling camera, phone, e-mail.  Portable to iPad, iPhone, Windows phone, ...
      ul
        li
          a(href='http://www.quickstartprototypes.com/androidapp.html#RapidApps') Using Rapid Cross Platform (Android, iPhone, Windows, ...) Prototyping
      li
        a(href='http://www.quickstartprototypes.com/webdatabase.html') Web apps with access to a mySQL database using PHP
      ul
        li
          a(href='http://www.quickstartprototypes.com/webdatabase.html#RapidWebDB') Using Rapid Web Database Prototyping
